config/mpd/database
config/mpd/syslog
config/ncmpcpp/error.log
home/.vim/autoload/goyo.vim
home/.vim/autoload/coc.nvim
home/.vim/autoload/vim-markdown
config/nvim/autoload/goyo.vim
config/nvim/autoload/coc.nvim
config/nvim/autoload/vim-markdown
config/mpv/watch_later
